<div class="container">
    
   
<div class="col text-center"><h1>Eat Da Burger</h1>
    <div class="col text-left">
        {{#each burgers}}
            {{#unless this.devoured}}
        <ul>    
            <li>
                <div>{{this.burger_name}}<button>Devour it</button>
                </div>
            </li>
        </ul>    
    </div>     
        {{/unless}}
        {{/each}}
</div>        
    
<div class="col 6 text-right">
    <ul>
        <li>
            <h4>Eaten Burgers</h4>
        </li>
            {{#each burgers}}
            {{#if this.devoured}}
        <li>
            <div>
            {{this.burger_name}}
            </div>
        </li>
        {{/if}}
        {{/each}}
    </ul>
</div>  

<div class="container">
    <div class="row">
        <div class="text-center">
            <p>Add a burger</p>
            <input id="burgerInput" type="text" placeholder="example burger">
            <button id="submitButton" type="submit" name="action">Submit</button>
        </div>
    </div>
</div>